test_sphere_32.bin
test_sphere_48.bin
test_sphere_64.bin
test_waves_48.bin

generator

.vscode/*

mainOutput
*.txt

cuda-keyring_1.0-1_all.deb
libtinfo5_6.3-2ubuntu0.1_amd64.deb
parteACodigos/marchingCubesParallel

!CMakeLists.txt